<div>
    <h1>Wijn</h1>

    {{ message }}

    <ul>
        <li><a href="#/wines/add">Wijn toevoegen</a></li>
        <li>Wijnen aanpassen</li>
    </ul>

    <div>
        <table>
            <tr>
                <td class="head">Naam</td>
                <td class="head">Percentage</td>
                <td class="head">Land</td>
                <td class="head">Omschrijving</td>
                <td class="head"></td>
            </tr>
            <tr ng-repeat="wine in winesFromStorage">
                <td>{{ wine.name }}</td>
                <td>{{ wine.percentage }}</td>
                <td>{{ wine.country }}</td>
                <td>{{ wine.description }}</td>
                <td><a ng-href="#/wines/delete/{{ wine.id }}" ng-click="remove()">verwijderen</a></td>
            </tr>
        </table>
    </div>

</div>