<div>
    <h1>Wijn</h1>

    {{ message }}

    <ul>
        <li><a href="#/wines/add">Wijn toevoegen</a></li>
    </ul>

    <div>

        <label>Zoek wijn via id, naam, percentage, land of omschrijving: <input type="text" placeholder="Zoeken" ng-model="search"></label>
        <br>
        <br>
        <table>
            <tr>
                <td class="head">Naam</td>
                <td class="head">Percentage</td>
                <td class="head">Land</td>
                <td class="head">Omschrijving</td>
                <td class="head"></td>
                <td class="head"></td>
            </tr>
            <tr ng-repeat="wine in winesFromStorage | filter:search">
                <td>{{ wine.name }}</td>
                <td>{{ wine.percentage | addPercent }}</td>
                <td>{{ wine.country }}</td>
                <td>{{ wine.description }}</td>
                <td><a ng-href="#/wines/delete/{{ wine.id }}" ng-click="remove()">verwijderen</a></td>
                <td><a ng-href="#/wines/edit/{{ wine.id }}">aanpassen</a></td>
            </tr>
        </table>
    </div>

</div>