<div>

    <h1>Wijn aanpassen</h1>

    <form novalidate ng-submit="edit()">
            <label><h1>ID: {{ wineById.id }}</h1></label>
            <label>Naam wijn: <input type="text" ng-model="wineById.name"></label> <br>
            <label>Percentage wijn: <input type="text" ng-model="wineById.percentage"></label> <br>
            <label>Land wijn: <input type="text" ng-model="wineById.country"></label> <br>
            <label>Omschrijving wijn: <input type="text" ng-model="wineById.description"></label> <br>

            <input type="submit" value="Aanpassen">
            <input type="button" value="Annuleren" ng-click="cancel()">
    </form>


</div>