<div>
    <h1>Wijn toevoegen</h1>

    <form novalidate ng-submit="save()">
        <label>Naam wijn: <input type="text" ng-model="name"></label> <br>
        <label>Percentage wijn: <input type="text" ng-model="percentage"></label> <br>
        <label>Land wijn: <input type="text" ng-model="country"></label> <br>
        <label>Beschrijving wijn: <input type="text" ng-model="description"></label> <br>

        <input id="sbmt" type="submit" value="Opslaan">
        <input type="button" value="Annuleren" ng-click="cancel()">
    </form>

</div>