<div>

    <h1>Menukaart maken</h1>

    <form novalidate ng-submit="save()" name="menuCardForm">
        <label>Naam menukaart: <input type="text" ng-model="name" ng-required="true"></label> <br>

        <div ng-repeat="menuitem in menuitems">
            <label><input type="checkbox"
                          name="selectedItem[]"
                          value="{{ menuitem }}"
                          ng-click="toggleSelection(menuitem)"> <b>Menu item</b>: {{ menuitem.name }} <b>Wijn</b>: {{ menuitem.wine }}</label>
            <br>
        </div>

        <input type="submit" value="Opslaan" ng-disabled="menuCardForm.$invalid">
        <input type="button" value="Annuleren" ng-click="cancel()">
    </form>

</div>